@import "reset.css";
@import "variables";
@import "menu";


* {
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    width: 100%;
}

body {
    @include ubuntu();
    background-color: $backgroundColor;
    color: setTextColor($backgroundColor);
    height: 100vh;
    width: 100%;
    line-height: 1.5rem;
}

.wrapper {
    position: relative;
    min-height: calc(100% - 115px);
    overflow: hidden;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

a {
    color: setTextColor($backgroundColor);
    text-decoration: none;
}

//Header
.header {
    background: linear-gradient(to right, $red 0%, $orange 100%);
    margin-bottom: 20px;
}

.header__top {
    display: grid;
    grid-template-areas:
    'logo search menu'
    ;
    grid-template-columns: 19% 40% 41%;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba($white, .2);
}

.header__logo {
    grid-area: logo;
    margin: auto;

    .logo__pic {
        display: block;
        max-width: 175px;
        max-height: 55px;
    }
}

.header__search {
    grid-area: search;
    padding-top: 10px;

    .search {
        position: relative;

        .search__input {
            width: 100%;
            padding: 10px 40px 10px 35px;
            background: rgba($white, .2);
            border: none;
            border-radius: 50px;
            color: $white;
            @include placecolor($white);
            outline: none;
            @include ubuntu();
            font-size: 1rem;
        }

        .search__submit {
            position: absolute;
            display: block;
            top: calc(50% - 9px);
            right: 18px;
            height: 18px;
            width: 18px;
            background: url('../img/search.svg') 0 0 no-repeat;
            border: none;
            outline: none;
            cursor: pointer;
            @include easeOut;

            &:hover {
                opacity: .5;
            }
        }
    }
}

.header__menu {
    padding: 10px 0 0 20px;

    .menu {
        grid-area: menu;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu__item {
        white-space: nowrap;
    }

    .menu__link {
        display: block;
        padding: 5px 10px;
        color: $primaryTextColor;
        @include easeOut;

        &:hover {
            color: $secondaryTextColor;

        }
    }

    .menu__link_iconed {
        position: relative;
        padding-right: 20px;
        padding-left: 50px;
        border: 2px solid $secondaryTextColor;
        border-radius: 50px;
        @include easeOut;

        &:hover {
            .menu__link-icon svg {
                fill: $secondaryTextColor;
            }
        }
    }

    .menu__link-text {
        font-size: 1rem;
    }

    .menu__link-icon {
        position: absolute;
        top: 0;
        left: 18px;
        bottom: 0;
        width: 20px;

        svg {
            position: absolute;
            display: block;
            max-width: 100%;
            max-height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            fill: $primaryTextColor;
            @include easeOut;
        }
    }
}

//Nav
.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    .nav__item {
        white-space: nowrap;

        &:nth-child(2)>.nav__link>.nav__icon {
            width: 70px;
            padding: 0;
        }

        &:nth-child(3)>.nav__link>.nav__icon {
            width: 80px;
            padding: 0;
        }

        .nav__link {
            display: block;
            padding: 0;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            &:hover {
                .nav__title {
                    color: $secondaryTextColor;
                }

                .nav__icon svg {
                    fill: $secondaryTextColor;
                }
            }

            .nav__icon {
                display: inline-block;
                vertical-align: middle;
                width: 50px;
                padding: 15px 0;

                svg {
                    display: block;
                    margin: auto;
                    height: 100%;
                    max-height: 100%;
                    max-width: 100%;
                    fill: $primaryTextColor;
                    @include easeOut;
                }
            }

            .nav__title {
                font-size: 1rem;
                color: $primaryTextColor;
                text-transform: uppercase;
                padding: 0;
                @include easeOut;
            }
        }
    }
}

// Content
.title {
    margin-top: 0;
    font-weight: normal;
}

.content__wrapper .container {
    display: grid;
    //grid-template-areas: 'aside content';
    grid-template-columns: 15% 85%;
    background: $white;

    .products {
        display: flex;
        flex-direction: column;

        .products__item {
            display: grid;
            grid-template-areas: 'slideshow description price';
            grid-template-columns: 1fr 2fr 1fr;
            margin-bottom: 20px;

            .products__slideshow {
                grid-area: slideshow;
                padding-right: 20px;

                .slideshow__display {
                    width: 80px;
                    margin: 0 auto;

                    .slideshow__display-img {
                        display: block;
                        max-width: 100%;
                        max-height: 100%;
                        margin: auto;
                    }
                }

                .slideshow__thumbs {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .slideshow__thumbs-item {
                        display: inline-block;

                        .slideshow__thumbs-link {
                            display: block;
                            height: 3rem;

                            img {
                                display: block;
                                max-width: 100%;
                                max-height: 100%;
                                margin: auto;
                            }
                        }
                    }
                }
            }

            .products__description {
                grid-area: description;
            }

            .products__price {
                grid-area: price;
            }
        }
    }
}

//Footer
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    height: 115px;
    //background: rgba(darken($backgroundColor, 10), .7);
    color: setTextColor($backgroundColor);
}
//
//@import "mobile";
