{% extends '@App/user_layout.html.twig' %}

{% block section %}
    Корзина
    {% if (cart) %}
    <ul>
    {% for product in cart.bulk %}
        <li>{{ product.id }}</li>
        <li>{{ product.count }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <a class="" href="{{ path('user_save_order') }}">Оформить заказ</a>
{% endblock %}